<app-header class="top-0 z-50"></app-header>
<div class="bg-gray-200 dark:bg-slate-700">
  @defer(){
  <xng-breadcrumb
    [autoGenerate]="false"
    [separator]="breadcrumbIcon"
    class="dark:bg-slate-700"
  >
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
      <a
        [href]="info.url"
        class="m-4 dark:text-white dark:hover:text-blue-700 hover:text-teal-400 font-semibold"
        >{{ breadcrumb | titlecase | splitwords }}</a
      >
    </ng-container>
  </xng-breadcrumb>
  }
  <router-outlet class="py-8" />
</div>
<app-footer class="bottom-0"></app-footer>

@defer {
<app-scroll-to-top-button></app-scroll-to-top-button>
}
<!-- Icono de breadcrumb -->
<ng-template #breadcrumbIcon>
  <svg
    class="rtl:rotate-180 w-3 h-3 dark:text-gray-400 text-slate-800 mx-1"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 6 10"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 9 4-4-4-4"
    />
  </svg>
</ng-template>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
