<div class="p-8 flex items-center justify-center">
  <div
    class="max-w-md w-full dark:border dark:bg-slate-900 dark:border-gray-700 bg-white p-8 rounded-lg shadow-lg"
  >
    <h2 class="text-2xl font-bold mb-4 text-center dark:text-white">
      Restablecer Contraseña
    </h2>
    <form
      class="space-y-4"
      [formGroup]="newPasswordForm"
      (ngSubmit)="updatePassword()"
    >
      <div class="relative">
        <label
          for="password"
          class="block text-sm font-medium text-gray-700 dark:text-white"
          >Nueva Contraseña</label
        >
        <input
          type="password"
          formControlName="password"
          id="password"
          name="password"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50"
        />
        <button
          type="button"
          class="absolute inset-y-11 right-0 pr-3 flex items-center"
          (click)="togglePasswordVisibility(['password', 'confirm-password'])"
        >
          @if(showPassword){
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path
              d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
            />
          </svg>
          } @else {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-eye-closed"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M21 9c-2.4 2.667 -5.4 4 -9 4c-3.6 0 -6.6 -1.333 -9 -4" />
            <path d="M3 15l2.5 -3.8" />
            <path d="M21 14.976l-2.492 -3.776" />
            <path d="M9 17l.5 -4" />
            <path d="M15 17l-.5 -4" />
          </svg>
          }
        </button>
      </div>
      @for (validacion of validaciones.password; track password) { @if
      (password?.hasError(validacion.type) && (password?.dirty
      ||password?.touched)) {
      <div>
        <p id="nombreError" class="mt-2 text-xs text-red-600 dark:text-red-400">
          <span class="font-medium">{{ validacion.message }}</span>
        </p>
      </div>
      } }
      <div>
        <label
          for="confirm-password"
          class="block text-sm font-medium text-gray-700 dark:text-white"
          >Confirmar Contraseña</label
        >
        <input
          type="password"
          formControlName="confirmPassword"
          id="confirm-password"
          name="confirm-password"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-400 focus:ring-opacity-50"
        />
      </div>
      @for (validacion of validaciones.confirmPassword; track confirmPassword) {
      @if (confirmPassword?.hasError(validacion.type) && (confirmPassword?.dirty
      || confirmPassword?.touched)) {
      <div>
        <p id="nombreError" class="mt-2 text-xs text-red-600 dark:text-red-400">
          <span class="font-medium">{{ validacion.message }}</span>
        </p>
      </div>
      } }
      <div>
        <button
          type="submit"
          class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Restablecer Contraseña
        </button>
      </div>
    </form>
  </div>
</div>
